#__nuxt, body, html{
height:100%;
}

#__nuxt div{
height:100%;
}

footer {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    padding: .5em;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
footer div {
    font-size: 1.1em;
    margin-left: .5em;
}